/*////////////////////////// Step Process - Linear*/

.step-process {
    position:relative;
	text-align:center;
	z-index:0;
}
.step-process  ul {
	margin:0;
	padding:0;
	overflow:hidden;
	counter-reset:step;
	height:105px;
}
.step-process  ul li:first-child:after {
	content:none;
}

    .step-process  .step {
        list-style-type: none;
		color: #3f3f3f;
		font-size: 13px;
		width: 25%;
		float: left;
		position: relative;
		margin-top:20px;
    }

		.step-process  .step:before {
			content: counter(step);
			counter-increment: step;
			width: 40px;
			line-height: 40px;
			display: block;
			font-size: 16px;
			color: #828282;
			background:#dddddc;
			border-radius: 30px;
			margin: 0 auto 5px auto;
			z-index: 1;
			font-weight: bold;
		}
		
		.step-process  .step:after {
			content: '';
			width: 100%;
			height: 6px;
			background: #dddddc;
			position: absolute;
			left: -50%;
			top: 17px;
			z-index: -1;
		}
		.step-process  .step.complete:before,
		.step-process  .step.complete:after,
		.step-process  .step.current:after
		{
            background-color:#71d100;
            color: #ffffff;
        }
		.step-process .step.current:before
		{
            background-color:#0080d4;
            color: #ffffff;
        }


/*////////////////////////// Padding / Margin Classes */

.padding-top-15 {
    padding-top:15px;
}
.padding-top-10 {
    padding-top:10px;
}
.padding-top-5 {
    padding-top:5px;
}

.margin-top-15 {
    margin-top:15px;
}
.margin-top-10 {
    margin-top:10px;
}
.margin-top-5 {
    margin-top:5px;
}


/*////////////////////////// Search Box */

.searchInput {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.searchInput input {
	padding:0 0 0 5px;
    border:1px solid #dddddc;
}
.searchInput input:focus {
	padding:0 0 0 3px;
    border-color: #0080d4;
}
.searchInput .search-icon {
	display:inline-block;
	width: 28px;
	vertical-align: top;
	border: none;
	outline: none;
	background: url("/assets/imgs/CUTS_icons_DeskingHP_22.png") 3px 3px #0080d4;
	background-repeat: no-repeat;

}
.searchSmall {
    width:120px;
}
.searchLarge {
    width:220px;
}

/*////////////////////////// input with label //////////////////////////*/


.text-input input{
	display: inline-block;
	height: 28px;
	padding:0 0 0 3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.inline {
	display:inline-block;
}


/*//////////////////////////    Horizontal Tabs        ////////////////////////// */
.tab-strip-wrap {
	background-color:#0080d4;
	display:block;
	padding:5px 5px 0 5px;
}
.tab-strip {
	margin:0;
	padding:0;
	list-style:none;
}
.tab-strip .tab {
	display:inline-block;
	padding:5px 10px;
	margin:0;
	background-color:rgb(0,143,237);
	color:#ffffff;
}
.tab.sm{min-height:28px;}
.tab.md {min-height:48px;}
.tab.lg {min-height:60px;}

.tab-strip .tab:hover {
	background-color:#005f9e;
}
.tab-strip .tab.active {
	background-color:#ffffff;
	color:#3f3f3f;
}

.horizontal-tab-container .tab-content {
	width:100%;
	height:auto;
	overflow:auto;
	padding:10px;
}

/*//////////////////////////    Vertical Tabs        ////////////////////////// */
.vertical-tab-container {
	background-color:#ffffff;
	overflow:auto;
	border:1px solid #dddddc;
}
.vertical-tab-container .vertical-tab-strip-wrap {
	background-color:#dddddc;
	display:block;
	padding:0;
	width:20%;
	float:left;
	height:100%;
	overflow:auto;
}
.vertical-tab-container .tab-content {
	width:80%;
	float:left; 
	height:auto;
	overflow:auto;
	padding:10px;
}
.vertical-tab-strip {
	margin:0;
	padding:0;
	list-style:none;
}
.vertical-tab-strip .tab {
	display:block;
	padding:5px 10px;
	background-color:#f1f1f1;
	color:#0080d4;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #dddddc;
}
.vertical-tab-strip .tab:first-child {
	border-width: 0 1px 0 0;
}
.vertical-tab-strip .tab:hover {
	background-color:#005f9e;
	color:#ffffff; 
}
.vertical-tab-strip .tab.active {
	background-color:#ffffff;
	color:#3f3f3f;
	border-right: 1px solid #ffffff;
}

/*//////////////////////////            ////////////////////////// */
.btn-icon {
	background:url(/assets/imgs/btn_grad_30_2.png) repeat-x;
	padding:5px 10px 5px 5px;
	font-size:11px;
	font-weight:bold;
	color:#f1f1f1;
}
.btn-icon:hover {
	background:url(/assets/imgs/btn_grad_30.png) repeat-x;
	border-color:#005f9e;
	color:#ffffff;
}
.new-icon {	
	background:url(/assets/imgs/new_12.png) no-repeat;
	height:12px;
	width:12px;
	display:inline-block;
	vertical-align:top;
	margin:1px 5px 0 2px;
}
/*//////////////////////////            ////////////////////////// */


/*//////////////////////////            ////////////////////////// */


/*//////////////////////////            ////////////////////////// */


/*//////////////////////////            ////////////////////////// */


/*//////////////////////////            ////////////////////////// */


/*//////////////////////////            ////////////////////////// */


/*//////////////////////////            ////////////////////////// */




